<a href="https://colab.research.google.com/github/CleverEnd/DataWrangling-Modulo3/blob/main/EjercicioUnoData_WranglingJosephTrejo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import numpy as np 
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')

### Step 3. Assign it to a variable called chipo.

In [5]:
chipo = pd.read_csv(url, sep = '\t')

### Step 4. See the first 10 entries

In [6]:
chipo.head(11)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45

### Step 5. What is the number of observations in the dataset?

In [7]:
# Solution 1
chipo.size

23110

In [8]:
# Solution 2

len(chipo)

4622

### Step 6. What is the number of columns in the dataset?

In [9]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [10]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [11]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [12]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [13]:
tabla_1 = chipo.groupby(["item_name","quantity"]).max().sort_values(by="quantity",ascending=False)

### Step 10. For the most-ordered item, how many items were ordered?

In [14]:
tabla_1.head(1)

                                       order_id choice_description item_price
item_name                    quantity
Chips and Fresh Tomato Salsa 15            1443                NaN    $44.25

### Step 11. What was the most ordered item in the choice_description column?

In [15]:
tabla_2 = chipo.groupby(["item_name","choice_description"]).count().sort_values(by="choice_description",ascending=False)
tabla_2

                                                                    order_id  \
item_name       choice_description
Barbacoa Bowl   [[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...         1
                [[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...         1
Chicken Burrito [[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...         1
Chicken Bowl    [[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...         1
Chicken Burrito [[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...         1
...                                                                      ...
Crispy Tacos    [Adobo-Marinated and Grilled Steak]                        1
Bowl            [Adobo-Marinated and Grilled Steak, [Sour Cream...         1
Crispy Tacos    [Adobo-Marinated and Grilled Chicken]                      1
Burrito         [Adobo-Marinated and Grilled Chicken, [Sour Cre...         1
                [Adobo-Marinated and Grilled Chicken, Pinto Bea...         1

                                                                    quantity  \
item_name       choice_description
Barbacoa Bowl   [[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...         1
                [[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...         1
Chicken Burrito [[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...         1
Chicken Bowl    [[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...         1
Chicken Burrito [[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...         1
...                                                                      ...
Crispy Tacos    [Adobo-Marinated and Grilled Steak]                        1
Bowl            [Adobo-Marinated and Grilled Steak, [Sour Cream...         1
Crispy Tacos    [Adobo-Marinated and Grilled Chicken]                      1
Burrito         [Adobo-Marinated and Grilled Chicken, [Sour Cre...         1
                [Adobo-Marinated and Grilled Chicken, Pinto Bea...         1

                                                                    item_price
item_name       choice_description
Barbacoa Bowl   [[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...           1
                [[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...           1
Chicken Burrito [[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...           1
Chicken Bowl    [[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...           1
Chicken Burrito [[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...           1
...                                                                        ...
Crispy Tacos    [Adobo-Marinated and Grilled Steak]                          1
Bowl            [Adobo-Marinated and Grilled Steak, [Sour Cream...           1
Crispy Tacos    [Adobo-Marinated and Grilled Chicken]                        1
Burrito         [Adobo-Marinated and Grilled Chicken, [Sour Cre...           1
                [Adobo-Marinated and Grilled Chicken, Pinto Bea...           1

[1859 rows x 3 columns]

### Step 12. How many items were orderd in total?

In [16]:
total_items_orders = chipo.quantity.sum()
total_items_orders

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [17]:
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [18]:
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

#### Step 13.c. Check the item price type

In [19]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [20]:
revenue = (chipo['quantity']* chipo['item_price']).sum()

print('La ganacia es: $' + str(np.round(revenue,2)))

La ganacia es: $39237.02

### Step 15. How many orders were made in the period?

In [21]:
ordenes = chipo.order_id.value_counts().count()
ordenes

1834

### Step 16. What is the average revenue amount per order?

In [25]:
# Solution 1
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

21.394231188658654

In [ ]:
# Solution 2

### Step 17. How many different items are sold?

In [22]:
chipo.item_name.value_counts().count()

50